@import "src/shared/styles/variable";

.xpBtn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 6px 8px 6px 6px;
  border-radius: 12px;
  font-weight: 600;
  height: 36px;

  .xpText {
    padding-left: 4px;
    color: $white_700;
  }
}
.completed {
  background-color: $black_800;
}
