$background: #141414;
$background-hover: #ffffff1a;

$black_800: #141414cc;
$black_1000: #141414;

$white: #ffffff;
$white_40: #ffffff0a;
$white_100: #ffffff1a;
$white_200: #ffffff33;
$white_500: #ffffff80;
$white_700: #ffffffb3;

$grey_200: #9d9d9d33;

$yellow_1000: #d9ff02;
//

$error: #e95050;
