$mediaMaxWidth1400px: 1400px;
$mediaMaxWidth1260px: 1260px;
$mediaMaxWidth1200px: 1200px;
$mediaMaxWidth991px: 991px;
$mediaMaxWidth960px: 960px;
$mediaMaxWidth767px: 767px;
$mediaMaxWidth575px: 575px;
$mediaMaxWidth480px: 480px;
$mediaMaxWidth400px: 400px;
$mediaMaxWidth375px: 375px;
$mediaMaxWidth360px: 360px;
$mediaMaxWidth350px: 350px;
$mediaMaxWidth340px: 340px;
$mediaMaxWidth320px: 320px;
$mediaMaxWidth300px: 300px;
$mediaMaxWidth280px: 280px;
$mediaMaxWidth260px: 260px;

$mediaMaxHeight700px: 700px;
$mediaMaxHeight650px: 650px;
$mediaMaxHeight600px: 600px;
$mediaMaxHeight560px: 560px;
$mediaMaxHeight500px: 500px;
